

  
<body>
  <header>
      <img src="/assets/Title.png" alt="Title" class="title">
    </header>

<main>
    <h1>Enter a Username and Password</h1>
<%= form_for @player do |f| %>

  <p>
    <%= f.label :userName %> 
    <br>
    <%= f.text_field :userName %> 
  </p>

  <div id="submitButton">
    <%= f.submit %>
  </div>

<% end %>

<!--<div>
      <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
      <% end %>
    </div>
    <div>
    <%= yield %>
</div>-->

</main>
</body>



<%= link_to 'Back', root_path %>