<h2>Enter a Username and Password</h2>

<%= form_for @player do |f| %>
  <p>
    <%= f.label :userName %><br>
    <%= f.text_field :userName %>
  </p>
 
  <p>
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', root_path %>