<!DOCTYPE html>
<html>
  <head>
    <title>Battleship</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "index.css"%>
    <%= javascript_include_tag "index.js" %>
    <%= javascript_include_tag "gamePage.js" %>
  </head>


  <body>
    <%= yield %>
  </body>
</html>
